<% provide(:title, "Home") %>
<div class="center">

<div class="container">
    <div class="row">
    
      <div class="col-md-6">
        <h1><u>Recent Posts</u></h1>
        <% @posts = Post.order("created_at desc").limit(4) %>
        <% @posts.each do |post| %>
          <h6>
            <%= post.created_at.strftime('%b %d, %Y') %></h6>
          </h6>
          <h3>
            <%= link_to "#{post.title}", post_path(post) %>
          </h3>
          <div class="center">
            <p>
              <%= truncate post.description, length: 300 %>
            </p>
          </div>
          <br />
        <% end %>
      </div>
      
      <div class="col-md-6">
        <div>
          <%= image_tag('lars.png') %>
        </div>
        <br />
        <h3><u>Welcome to True Conspiracies</u></h3>
        <p>
          This is a blog dedicated to exposing the most insidious and underground conspiracies in the world.
        </p>
        <br />
        <h1 class="ceneter"><u>Newest Categories</u></h1>
        <% @categories = Category.order("created_at desc").limit(4) %>
        <% @categories.each do |category| %>
          <h4><%= link_to "#{category.name}", category_path(category) %></h4>
        <% end %>
      </div>
      
    </div>
</div>
<br />
</div>
