<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div class="center">
  <h1><%= @post.title %></h1>
  <h5><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <p><%= raw @post.body %></p>
  <p><%= link_to "Return to Blog", root_path %></p>
  <% if logged_in? %>
    <p><%= link_to "Edit", edit_post_path(@post) %></p>
    <p><%= link_to 'Delete Post', @post, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')" %></p>
  <% end %>
</div>
</meta>