@import "bootstrap-sprockets";
@import "bootstrap";

/* Will update with customer input */

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #5e5f60;
$black: #000000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */

body {
  padding-top: 0px;
}

.li {
  text-align: center;
}

.dropdown-menu {
  text-align: center;
  background: $white;
}

ul {
  blog-headers {
    font-family: 'Anton', sans-serif;
  }
}

/*
#home {
  background: url(ForChristian.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
#homephone {
  background: url(ForChristianPhone.jpg);
  background-repeat: no-repeat;
  }
*/

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, h7 {
  line-height: 1;
  font-family: 'Anton', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
  u {
    text-decoration: underline;
  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  u {
    text-decoration: underline;
  }
}

h3 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h4 {
  font-size: 1.5em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h5 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

.menu-header {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-left: 15px;
  text-align: left;
  font-weight: normal;
  color: $black;
  font-family: 'Anton', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  blog-headers {
    font-family: 'Anton', sans-serif;
  }
}

#p-side {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  &:hover {
    color: underline;
  }
}

/* header */
#headerbkg {
  background: url(headerbkg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#phoneheaderbkg {
  background: url(phoneheaderbkg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar {
  background-color: $white;
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0.6;
 }
 
#header-side-logo {
  margin-left: 10px;
  float: right;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo {
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 4.0em;
  color: $black;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: heavy;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-two {
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 2.7em;
  color: $black;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: heavy;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-three {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo-three-phone {
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

#logo-four {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo-four-phone {
  line-height: 1;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* sidebar */

#sidebar {
  position: fixed;
  right:0;
}

.eye {
 padding-left: 35px;
 width: 100px;
 height: 100px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.spin {
	-webkit-animation:spin 0.2s linear infinite;
    -moz-animation:spin 0.2s linear infinite;
    animation:spin 0.2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.illuminate {
  background: url(breaking.mp4) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

#myVideo { 
    position: fixed;
    right: 0;
    padding-top: 25px;
    bottom: 0;	
    min-width: 100%; 
    min-height: 100%;
    z-index: 0 !important;
}

.hidden {
  display: none !important;
}