<header class="navbar navbar-default navbar-static-top" id="headerbkg">
    <div class="container">
        <% if logged_in? && current_user.admin? %>
            <%= render 'layouts/logged_in_header' %>
        <% end %>
        <div class="container" id="logo">True Conspiracies</div>
        <br />
        <br />
    </div>
    <br>
    <div class="container-center">
        <nav>
            <ul class="nav navbar-nav">
                <li><%= link_to "Categories", categories_path, id: "logo-three" %></li>
                <li><%= link_to "Home", root_path, id: "logo-four" %></li>
                <li><%= link_to "Archives", posts_path, id: "logo-three" %></li>
            </ul>
            <div class="center">
                <button><h4>Confirm Illuminati</h4></button>
            </div>
        </nav>
    </div>
</header>