<div><%= link_to "Log out", logout_path, method: "delete", id: "header-side-logo" %></div>
<div><%= link_to "Edit Profile", edit_user_path(current_user), id: "header-side-logo" %></div>
<div><%= link_to "New Post", new_post_path, id: "header-side-logo" %></div>