<div class="menu-header" onclick="openNav()">Menu</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <%= link_to "Home", root_path, id: "logo-four-phone" %>
      <%= link_to "Categories", categories_path, id: "logo-three-phone" %>
      <%= link_to "Archive", posts_path, id: "logo-three-phone" %>
      <% if logged_in? && current_user.admin? %>
        <%= link_to "Log out", logout_path, method: "delete", id: "logo-three-phone" %>
        <%= link_to "Edit Profile", edit_user_path(current_user), id: "logo-three-phone" %>
        <%= link_to "New Post", new_post_path, id: "logo-three-phone" %>
        <%= link_to "New Category", new_category_path, id: "logo-three-phone" %>
      <% end %>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.body.style.backgroundColor = "white";
}
</script>