<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/phone_header' %>
  </head>
    <body>
    <%= render 'layouts/application_layout' %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</body>
</html>
