<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <%= render 'layouts/header' %>
      
  </head>
  <% if current_page?(root_path) %>
  <% else %>
  <%= render 'layouts/sidebar' %>
  <% end %>
    <body>
      <%= render 'layouts/application_layout' %>
      
      <video muted autoplay loop id="myVideo" class="hidden" type="video/mp4">
        <source src="assets/breaking.mp4">
      </video>
      
    </body>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</html>

<script>
/*
$(document).ready(function(){
    $("button").click(function(){
        $("body").addClass("spin illuminate");
        setTimeout(function () {
            $("body").removeClass("spin illuminate");
        }, 3000);
    });
});
*/

  $(document).ready(function(){
    $("button").click(function(){
        $("video").removeClass("hidden");
        setTimeout(function () {
            $("video").addClass("hidden");
        }, 18000);
    });
});
</script>